@{
    ViewData["Title"] = "Confirmar Exclusão";
}

<div class="text-center">
    <h3>Você realmente deseja apagar o contato?</h3>

    <a class="btn btn-primary" role="button">Cancelar exclusão</a>
    <a class="btn btn-danger" role="button">Confirmar exclusão</a>
</div>
